<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mybatis.AppMapper">

	<resultMap type="com.springmvc.model.AppDetailBean" id="AppDetail">
		<result column="appType" property="appType"/>
		<result column="iconAddress" property="iconAddress"/>
		<result column="appId" property="appId"/>
		<result column="appName" property="appName"/>
		<result column="packageName" property="packageName"/>
		<result column="menuName" property="menuName"/>
		<result column="versionCode" property="versionCode"/>
		<result column="versionName" property="versionName"/>
		<result column="FILL_ADDRESS" property="fileAddress"/>
		<result column="ALT_LANG_SERVICE_LINK" property="linuxLink"/>
		<result column="area" property="area"/>
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="ON_USE" property="onUse" />
		<result column="appVersionId" property="appVersionId"/>
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_BY" property="createBy" />
		<result column="UPDATE_BY" property="updateBy" />
	</resultMap>

	<select id="searchApp" resultMap="AppDetail">
  			SELECT
			zdm.`NAME` AS menuName,
			MAX(zav.`VERSION_CODE`) AS versionCode,
			zav.TYPE_OF_APP AS appType,
			zavl.ALT_LANG_NAME AS appName,
			zav.`ID` AS appVersionId,
			zav.FILL_ADDRESS AS fileAddress,
			zav.`VERSION_NAME` AS versionName,
			zap.`ID` AS appId,
			zalicon.`ADDRESS` AS iconAddress,
			zavl.ALT_LANG_SERVICE_LINK AS linuxLink,
			zav.PACKAGE_NAME AS packageName,
			zav.ON_USE,
			zav.UPDATE_TIME,
			GROUP_CONCAT(DISTINCT zava.AREACODE) AS area
		FROM
			z_app_info zap
		LEFT JOIN z_app_version zav ON zap.`ID` = zav.`APP_ID`
		LEFT JOIN z_app_version_area zava ON zava.APP_VERSION_ID = zav.ID
		LEFT JOIN z_default_menu zdm ON zap.`MENU_ID` = zdm.`ID`
		AND zdm.`ON_USE` = 1
		LEFT JOIN z_app_version_unit_category zpvuc ON zpvuc.`APP_VERSION_ID` = zav.`ID`
		AND zpvuc.`ON_USE` = 1
		LEFT JOIN z_app_version_language zavl ON zav.`ID` = zavl.`APP_VERSION_ID`
		AND zavl.`IS_DEFAULT` = 1
		LEFT JOIN z_app_lang_icon_screen zalicon ON zavl.`ID` = zalicon.`APP_VERSION_LANGUAGE_ID`
		LEFT JOIN z_icon_screen_config zisc ON zalicon.ICON_SCREEN_ID = zisc.ID
		AND zisc.IS_ICON = 1
		WHERE
			1 = 1
		AND zisc.IS_ICON = 1
		AND zav.`VERSION_CODE` = (
			SELECT
				MAX(zv.`VERSION_CODE`)
			FROM
				z_app_info zi,
				z_app_version zv
			LEFT JOIN z_app_version_language zavl ON zv.ID = zavl.APP_VERSION_ID
			WHERE
				zi.`ID` = zv.`APP_ID`
			AND zv.`APP_ID` = zap.`ID`
		<if test="null != onUse">AND zv.ON_USE =#{onUse}</if>
		<if test="null != appName and '' != appName">AND zavl.ALT_LANG_NAME LIKE CONCAT('%',#{appName},'%')</if>
		<if test="null != appType and '' != appType">AND zv.type_of_app = #{appType}</if>
		)
		<if test="null != appName and '' != appName">AND zavl.ALT_LANG_NAME LIKE CONCAT('%',#{appName},'%') </if>
	 	<if test="null != appType and '' != appType">AND zav.type_of_app =#{appType}</if>
		<if test="null != onUse">AND zav.ON_USE =#{onUse}</if>
		<if test="null != area and '' != area">AND zava.AREACODE LIKE CONCAT('%',#{area},'%')</if>
		<if test="null != menuId ">AND zap.MENU_ID = #{menuId}</if>
		<if test="null !=packageName and ''!=packageName">AND zav.PACKAGE_NAME LIKE CONCAT('%',#{packageName},'%') </if>
		<if test="null != appId ">AND zap.ID = #{appId}</if>
		<if test="null != appVersionId ">AND zav.ID = #{appVersionId}</if>
		GROUP BY
			zap.`ID`
		ORDER BY
			zav.UPDATE_TIME DESC
	<if test="psize > 0">
  			limit #{start},#{psize}
  		</if>
	</select>




	
	<select id="countApp" resultType="int">
     SELECT
			count(1)
		FROM
			(
				SELECT
			zdm.`NAME` AS menuName,
			MAX(zav.`VERSION_CODE`) AS versionCode,
			zav.TYPE_OF_APP AS appType,
			zavl.ALT_LANG_NAME AS appName,
			zav.`ID` AS appVersionId,
			zav.FILL_ADDRESS AS fileAddress,
			zav.`VERSION_NAME` AS versionName,
			zap.`ID` AS appId,
			zalicon.`ADDRESS` AS iconAddress,
			zavl.ALT_LANG_SERVICE_LINK AS linuxLink,
			zav.PACKAGE_NAME AS packageName,
			zav.ON_USE,
			zav.UPDATE_TIME,
			GROUP_CONCAT(DISTINCT zava.AREACODE) AS AREA
		FROM
			z_app_info zap
		LEFT JOIN z_app_version zav ON zap.`ID` = zav.`APP_ID`
		LEFT JOIN z_app_version_area zava ON zava.APP_VERSION_ID = zav.ID
		LEFT JOIN z_default_menu zdm ON zap.`MENU_ID` = zdm.`ID`
		AND zdm.`ON_USE` = 1
		LEFT JOIN z_app_version_unit_category zpvuc ON zpvuc.`APP_VERSION_ID` = zav.`ID`
		AND zpvuc.`ON_USE` = 1
		LEFT JOIN z_app_version_language zavl ON zav.`ID` = zavl.`APP_VERSION_ID`
		AND zavl.`IS_DEFAULT` = 1
		LEFT JOIN z_app_lang_icon_screen zalicon ON zavl.`ID` = zalicon.`APP_VERSION_LANGUAGE_ID`
		LEFT JOIN z_icon_screen_config zisc ON zalicon.ICON_SCREEN_ID = zisc.ID
		AND zisc.IS_ICON = 1
		WHERE
			1 = 1
		AND zisc.IS_ICON = 1
		AND zav.`VERSION_CODE` = (
			SELECT
				MAX(zv.`VERSION_CODE`)
			FROM
				z_app_info zi,
				z_app_version zv
			LEFT JOIN z_app_version_language zavl ON zv.ID = zavl.APP_VERSION_ID
			WHERE
				zi.`ID` = zv.`APP_ID`
			AND zv.`APP_ID` = zap.`ID`
		<if test="null != onUse">AND zv.ON_USE =#{onUse}</if>
		<if test="null != appName and '' != appName">AND zavl.ALT_LANG_NAME LIKE CONCAT('%',#{appName},'%')</if>
		<if test="null != appType and '' != appType">AND zv.type_of_app = #{appType}</if>
		)
		<if test="null != appName and '' != appName">AND zavl.ALT_LANG_NAME LIKE CONCAT('%',#{appName},'%') </if>
	 	<if test="null != appType and '' != appType">AND zav.type_of_app =#{appType}</if>
		<if test="null != onUse">AND zav.ON_USE =#{onUse}</if>
		<if test="null != area and '' != area">AND zava.AREACODE LIKE CONCAT('%',#{area},'%')</if>
		<if test="null != menuId ">AND zap.MENU_ID = #{menuId}</if>
		<if test="null !=packageName and ''!=packageName">AND zav.PACKAGE_NAME LIKE CONCAT('%',#{packageName},'%') </if>
		<if test="null != appId ">AND zap.ID = #{appId}</if>
		<if test="null != appVersionId ">AND zav.ID = #{appVersionId}</if>
		GROUP BY
			zap.`ID`
		ORDER BY
			zav.UPDATE_TIME DESC
	) ss
	</select>
</mapper>