<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="ServicePortals" version="2.5">
   <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>/WEB-INF/logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/app-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
     <!-- 前端控制器 -->  
    <servlet>    
        <servlet-name>spring-mvc</servlet-name>  <!-- 名称，真实的文件名需要在这个名字后面加上-servlet后缀 -->  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!--  DispatcherServlet路径，照写 -->  
         
        <!--   这里可以设置前端控制器的路径，如果这一步注释掉，则默认前端控制器的路径为：/WEB-INF/[servlet-name]-servlet.xml    -->  
       <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>/WEB-INF/servlet-context.xml</param-value>
        </init-param>    
        <load-on-startup>1</load-on-startup>  
    </servlet>    
      
    <!-- 拦截所有请求 -->  
    <servlet-mapping>    
        <servlet-name>spring-mvc</servlet-name>     <!-- 这里的名字要和上面的servlet-name统一 -->  
        <url-pattern>/</url-pattern>    
    </servlet-mapping>    
</web-app> 
